@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.title {
	font-family: 'Cinzel', serif;
	color: black;
	font-size: 0.75rem;
	display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  margin: 1em 15% 1em 10%;
}

.logo {
  width: 30px;
  margin: 0.5em;
  display: inline-block;
  float: left;

}

.button {
	font-family: 'Cinzel', serif;
	float: right;
	color: white;
	font-size: 0.7rem;
	margin: 1em;
	display: inline-block;
  float: right;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-color: black;
}

.button:hover {
	color: black;
	background-color: white;
}

body {
	font-family: 'Open Sans', serif;
	margin: 0;
	padding: 0;
}

header nav li {
  font-size: 25%;
  text-decoration: none;
	float: left;
	margin: 0;
	width: 25%;
	text-align: center;
}


header nav {
	float: left;
  background-color: black;
	overflow: hidden;
	width: 100%;
}

header nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

header nav a {
	color: white;
  font-family: 'Cinzel', serif;
  font-size: 3em;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 1em;
}

header nav a:hover {
	color: #9e6100;
}

.banner {
	position: absolute;
	width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	color: white;
	opacity: 0.9;
	padding: 0.2em;
	margin-top: 35%;
}

.banner strong {
	font-family: 'Cinzel', serif;
	font-size: 1em;
	line-height: 1em;
}

.banner p {
	font-family: 'Open Sans', serif;
	font-size: 0.7em;
	color: #9e6100;
	margin-bottom: 0.2em;
}

.banner-2 {
	position: absolute;
	width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	color: white;
	opacity: 0.9;
	padding: 0.2em;
	margin-top: 20%;
}

.banner-2 strong {
	font-family: 'Cinzel', serif;
	font-size: 1em;
	line-height: 1em;
}

.banner-2 p {
	font-family: 'Open Sans', serif;
	font-size: 0.7em;
	color: #9e6100;
	margin-bottom: 0.2em;
}

.banner-2 a {
	text-decoration: none;
	color: white;
	font-size: 0.7em;
	text-transform: uppercase;
}

.banner-2 a:hover {
	color: #9e6100;
}

.wonders {
	width: 100%;
}

.seven-wonders a {
  display: block;

}

.seven-wonders dt dd {
  display: inline-block;
}

dl {
  font-size: 0.8em;
  margin-left: 1.5em;
}

h2 {
	font-family: 'Cinzel', serif;
	font-size: 1.5em;
	color: black;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
  display: block;
  clear: both;
}

.wonders-info {
  width: 90%;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 2em;
	clear: both;
}

h3 {
	font-family: 'Cinzel', serif;
	font-size: 0.8em;
	margin-left: 1em;
	text-transform: uppercase;
	color: #9e6100;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.learn-more {
  display: block;
  padding: 0.5em;
  margin: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
}

.learn-more:hover {
	color: black;
	background-color: white;
}

dl {
  font-size: 0.8em;
  margin-left: 1.5em;
}

.tickets {
  max-width: 35em;
  margin: 0 auto;
}

.tickets p {
  margin: 1em;
}

.tickets a {
  font-family: 'Cinzel', serif;
  font-size: 0.9rem;
  display: block;
  width: 38%;
  padding: 0.5em;
  margin: .5em 2em 2em 2em;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
}

.button-left {
  float: left;
}


.tickets a:hover {
  color: black;
	background-color: white;
}

.week-events li {
  text-align: left;
  margin-left: 1em;
  font-size: 0.6em;
}

footer {
	padding: 1em;
	background-color: black;
	color: white;
	font-size: 0.7em;
}

footer p {
	margin: 0;
}

footer a {
  margin: 0;
  display: block;
	text-decoration: none;
	color: white;
}

footer ul {
  display: block;
	padding: 0;
	margin: 0;
	margin-top: 1em;
}

@media only screen and (min-width: 40em) {

  html {
    font-size: 110%;
  }

  .tickets {
    display: block;
    float: left;
    width: 50%;
    max-width: 35em;
  }

  .tickets a {
    font-size: 0.7rem;
    width: 30%;
    padding: 1em;
  }

  .info {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    float: left;
  }

  .wonders-info {
    height: 18em;
  }

  .tickets-both {
    clear: both;
    overflow: hidden;
  }

 .week-events {

}

 .days {
   display: block;
   float: left;
   width: 50%;
 }

}

@media only screen and (min-width: 65em) {

  html {
   font-size: 120%
  }


  .info {
    display: inline-block;
    width: 33.33%;
    overflow: hidden;
    float: left;
  }

  .atlantis {
    
  }

}
